2º Evaluación/TEMA 4 XML/Ejercicios XML/Ejercicio3/ej3.dtd

<!ELEMENT song (length, anio)>
<!ELEMENT title (#PCDATA)>
<!ELEMENT composers (composer)>
<!ELEMENT composer (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT Producers (producer)>
<!ELEMENT Producer (nombre, apellido)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT apellido (#PCDATA)>
<!ELEMENT Publisher (#PCDATA)>
<!ELEMENT Artistas (artista)>
<!ELEMENT Artista (#PCDATA)>