2º Evaluación/TEMA 4 XML/Ejercicios XML/Ejercicio2/ej2.dtd

<!ELEMENT Persona (#PCDATA)>
<!ELEMENT nombre (#PCDATA)>
<!ATTLIST nacimiento dia ID #REQUIRED>
<!ATTLIST nacimiento mes ID #REQUIRED>
<!ATTLIST nacimiento anio ID #REQUIRED>
<!ENTITY direcci贸n SYSTEM "calle">
<!ENTITY direcci贸n SYSTEM "poblacion">
<!ENTITY direcci贸n SYSTEM "provincia">
<!ENTITY direcci贸n SYSTEM "cpostal">